* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.searchDiv {
  text-align: center;
}
h1,
h3 {
  font-size: 25px;
  font-weight: 700;
  font-family: "Sora", sans-serif;
  margin: 20px 0;
}
.username {
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Sora", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.searchBtn,
.repos,
.gists,
.following,
.followers,
.userProfile {
  padding: 5px;
  border-radius: 5px;
  background-color: whitesmoke;
  color: green;
  font-family: "Sora", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.generalDataList {
  text-align: center;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 200px));
  grid-gap: 30px;
  padding: 0 25px;
}
.generalDataList li {
  text-align: center;
  list-style: none;
}
.generalDataList li span,
.name {
  margin: 30px 0;
  font-family: "Sora", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.generalDataList li img {
  border-radius: 50%;
  width: 100%;
}
.userImage {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 35%;
  padding: 0 115px;
}
.userP {
  color: green;
}
.userProfile {
  margin: 0 auto 30px;
}

.dataCatalog {
  margin-top: 30px;
  display: none;
}
.catalog {
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.profileDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.catalogBtns {
  width: 100%;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(auto-fit, minmax(2%, 1fr));
}
.userData {
  margin-top: 30px;
}
.company,
.website,
.location,
.member {
  text-align: start;
  font-family: "Sora", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 15px 0;
  border: 1px solid wheat;
  border-radius: 5px;
  padding: 10px 15px;
}
.userData li {
  list-style: none;
}
a {
  text-decoration: none;
}
.userRepo li {
  margin: 35px 0;
  text-align: center;
  width: 100%;
  border: 1px solid wheat;
  display: flex;
  flex-direction: column;
}
.userRepo li span:nth-child(2) {
  background-color: #bbeeff;
}
.userRepo li span:nth-child(3) {
  background-color: #99ccff;
}
.userRepo li span:nth-child(4) {
  background-color: #77aaff;
  
}
.userRepo li span {
  padding: 20px 0;
  font-family: "Sora", sans-serif;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .userImage {
    display: block;
    margin: 0 auto;
    width: 40%;
  }
}

/*Desktop Styles*/

@media only screen and (min-width: 960px) {
  h1 {
    font-size: 50px;
  }
  .username {
    width: 300px;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
  }
  .searchBtn,
  .repos,
  .gists,
  .following,
  .followers,
  .userProfile {
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 10px;
  }
  .searchBtn:hover,
  .userProfile:hover,
  .generalDataList li img:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .userImage {
    width: 20%;
  }
  .catalogBtns {
    margin: 0 auto;
    width: 50%;
  }
  .userProfile {
    margin: 0 auto 30px;
    width: 150px;
  }
  .userData {
    text-align: center;
    margin: 0 auto;
  }
  .userData li {
    padding: 20px 15px;
  }
  .company,
  .website,
  .location,
  .member {
    font-size: 20px;
    margin: 15px 25%;
  }
  /* .userRepo{
    border: 10px solid black;
  } */

  .userRepo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 60px;
    grid-auto-rows: 400px;
  }
}
