* {
  margin: 0;
  padding: 0;
}
.searchDiv {
  text-align: center;
}
h1 {
  font-size: 25px;
  font-weight: 700;
  font-family: "Sora", sans-serif;
  margin: 20px 0;
}
.username {
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Sora", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.searchBtn,
.repos,
.gists,
.following,
.followers,
.userProfile {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: whitesmoke;
  color: green;
  font-family: "Sora", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.generalDataList{
  text-align: center;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 30px;
  padding: 0 25px;
}
.generalDataList li{
  text-align: center;
  list-style: none;
}
.generalDataList li span, .name{
  margin: 30px 0;
  font-family: "Sora", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.generalDataList li img{
  border-radius: 50%;
  width: 100%;
}
.userImage{
  border-radius: 50%;
  width: 200px;
  padding: 0 115px;
}
.userP{
  text-decoration: none;
  color: green;
}
.userProfile {
  margin: 0 120px 30px;
}

.dataCatalog {
  margin-top: 30px;
  display: none;
}
.catalog {
  display: block;

}
.profileDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.catalogBtns {
  display: flex;
  justify-content: space-evenly;
}
.userData {
  margin-top: 30px;
}
.company, .website, .location, .member{
  font-family: "Sora", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 15px 0;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;
}
.userData li{
  list-style: none;
 }
/*Desktop Styles*/

@media only screen and (min-width: 960px) {
  h1 {
    font-size: 50px;
  }
  .username {
    width: 300px;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
  }
  .searchBtn,
  .repos,
  .gists,
  .following,
  .followers,
  .userProfile {
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 10px;
  }
  .searchBtn:hover,
  .repos:hover,
  .gists:hover,
  .following:hover,
  .followers:hover,
  .userProfile:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .userImage {
    margin: 20px 0;
    padding: 0 680px;
    width: 20%;
  }
  .userProfile {
    margin: 0 720px 30px;
  }
  .generalDataList{
   
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 190px);
    grid-gap: 85px;
  }
  .userData{
    text-align: center;
    padding: 0 560px;
  }
  .userData li{
    padding: 20px 15px;
   }
 
}
